@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Montserrat:wght@400&display=swap');

.PageWrapper {
    margin: 0 auto; 
    max-width: 1140px;
    padding-left: 25px;
    padding-right: 25px; 
}

.Header{
    align-items: center;
    display: flex; 
    justify-content: space-between;
    padding: 0px;
}


.HeaderWrapper{
    border-bottom: 2px solid #00B7FF;
    margin-bottom: 25px; 
    padding: 0px;
}

.Header nav a {
    border-radius: 3px;
    font-weight: bold; 
    margin: 0 5px; 
    /* padding: 0 5px;  */
    text-decoration: none;

}
.aCreate {
  background-color: #00B7FF;
  border: 10px solid #00B7FF; 
  color: #3D4F99;
  font-size: 18px;

}
.aLogin{
  background-color: #FF8240;
  border: 10px solid #FF8240; 
  color: #3D4F99;
}

.aLogout{
  background-color: #FF8240;
  border: 10px solid #FF8240; 
  color: #3D4F99;
  font-size: 18px;
}

.icon{
  color: #00B7FF;
  font-size: 28px; 
  padding-right: 25px;
}

/* .Header nav a:last-child {
    margin-right: 0;
    padding-right: 0;
  } */

  .FormWrap {
    background-color: #4A5E99;
    border-radius: 25px;
    padding-top: 125px;
    padding-bottom: 125px;
    margin: 0 auto;
    margin-top: 105px;
    width: 650px;
  }

  .FormWrap form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto; 
  }
  
  .FormWrap input {
    margin-bottom: 30px;
    padding: 15px 5px;
  }

  .FormWrap label {
    color: #00B7FF; 
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px; 
  }

  .FormWrap button{
    background-color: #3D4F99;
    border: 1px solid #00B7FF;
    color: #00B7FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }

  .FormWrap button :hover{ 
    background-color: #4A5E99;
  }

  .Logo{
    color: #F8F8FF; 
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 38px;
    padding: 0px;
  }

.CanvasWrapper{
  background-color:  #F8F8FF;
    border: 1px solid #FF8240; 
    border-radius: 8px;
    padding: 35px;
    margin: 0 auto; 
    margin-bottom: 50px; 
    max-width: 650px;
}

.CanvasWrapper:hover{
    border: 2px solid #FF8240; 
}

.Images{
  padding: 15px;
  display: flex; 
  justify-content: center;
  margin: 0 auto; 
}

