.PageWrapper {
    margin: 0 auto; 
    max-width: 1140px;
    padding-left: 25px;
    padding-right: 25px; 
}

.Header{
    align-items: center;
    display: flex; 
    justify-content: space-between;
}


.HeaderWrapper{
    border-bottom: 1px solid gray;
    padding: 5px 0px;
}

.Header nav a {
    color: black; 
    font-size: 18px;
    font-weight: bold; 
    margin: 0 5px; 
    padding: 0 5px; 
    text-decoration: none;

}
.Header nav a:last-child {
    margin-right: 0;
    padding-right: 0;
  }

  .Form form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }
  
  .Form input {
    margin-bottom: 30px;
    padding: 15px 5px;
  }
